<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido a PokeApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <img src="assets/pokemon-logo.png" alt="Pokémon Logo" class="logo" />

    <p class="description">
      Usando la API de Pokemón podras encontrar la informacion de tus favoritos.  
    </p>

    <ion-button expand="full" routerLink="/pokemon-list" color="primary">
      📋 Ver Lista de Pokémon
    </ion-button>

    <ion-button expand="full" routerLink="/search-pokemon" color="secondary">
      🔍 Buscar un Pokémon
    </ion-button>
  </div>
</ion-content>
