:root {
    --ion-color-primary: #ffcc00; 
    --ion-color-secondary: #ff0000; 
    --ion-color-tertiary: #3b4cca; 
    --ion-color-success: #00d26a;
    --ion-color-warning: #ff9900;
    --ion-color-danger: #d00000;
    --ion-background-color: #f6f6f6; 
  }
  